@import './resets.scss';
@import './variables.scss';

@function weight($weight-name) {
    @return map-get($font-weights, $weight-name);
}

//mixins

@mixin lightTheme {
    background-color: #fff;
    color: $primary-color;
    border-color: brown;
}

@mixin darkTheme {
    background-color: $secondary-color;
    color: #fff;
    border-color: $primary-color;
}

@mixin focus {
    height: 75vh;
    width: 75vw;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

@mixin card {

    max-width: 50%;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    border: 5px;
}

@mixin cardImg {
    max-width: 450px;
    border-radius: 25%;
    
}

@mixin navBar {
    background-color: $primary-color;
    overflow: hidden;
    font-family: 'Russo One', sans-serif;
    text-decoration: none;
    position: sticky;
    z-index: 999;
    border-bottom: 3px solid $secondary-color;
    // font-size: 30px;

    &a {
        text-decoration: none;
        // font-weight: $font-weights(bold);
        
       
    }
}

@mixin navLinks {
    float: center;
    color: $white-color;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

    &:hover {
        color: complement($primary-color);
        
    }

}

// media query mixins

@mixin for-size($size) {
    @if $size == phone-only {
      @media (max-width: 599px) { @content; }
    } @else if $size == tablet-portrait-up {
      @media (min-width: 600px) { @content; }
    } @else if $size == tablet-landscape-up {
      @media (min-width: 900px) { @content; }
    } @else if $size == desktop-up {
      @media (min-width: 1200px) { @content; }
    } @else if $size == big-desktop-up {
      @media (min-width: 1800px) { @content; }
    }
  }

  // end media query section


* {
    box-sizing: border-box;
    // background-color: brown;
    @include lightTheme;
}

html {
    height: 100%;
    width: 100%;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    padding: 0;
    // font: 100% $font-stack;
    color: $primary-color;
    // font-weight: map-get($font-weights, bold);
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    @include for-size(phone-only) {
        padding: 10px;
    }

}

.main {
       
    height: 100vh;
    width: 100vw;

}

a {
    text-decoration: none;
    color: $primary-color;
   
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

.nav-bar {
    @include navBar();
    
}

.links {
    @include navLinks();

    &a {
        @include navLinks();
    }
}

.hero {
    padding-top: 20px;
    width: 90%;
    min-height: 50%;
    position: relative;
    

    &:hover {
        @include focus;
    };
    
  
}

.hero-image {
    border-radius: 20%;
    opacity: 0.9;
    max-width: 400px;

    &:hover {
        opacity: 1;
        max-width: 450px;
    };

    @include for-size(phone-only) {
        max-width: 300px;
        
    }
}

.hero-text {
    text-align: center;
    color: $primary-color;
    border-bottom: 3px solid $primary-color;
}

.hero-text p {
    padding-top: 15px;
    padding-bottom: 15px;

    @include for-size(phone-only) {
        max-width: 65ch;
        display: none;

        &:hover {
            display: flex;
        }
        
    }
}


i {
    color: brown;
}

.row {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    // @include for-size(phone-only) {
    //     flex-direction: column;
    //     align-items: flex-start;
        
    // }
}



.card {
    @include card;

    @include for-size(phone-only) {
        display: flex;
        flex-direction: column;
        align-content: center;
    }
}

.card h2 {
    text-align: center;
    font-family: $font-stack;
    &:hover {
        color: complement($color: $primary-color);
    };
}

.card-img {
    @include cardImg();
    display: none;

    &:hover {
        display: flex;
    }

    @include for-size(phone-only) {

        display:flex;
        max-width: 300px;

    }
}

.card-img-lower {
    @include cardImg();
    opacity: 0.9;

    max-width: 300px;

    &:hover {
        opacity: 1;
    }
}


.card p {
    padding-top: 10px;
    // font-family: $font-stack;
    font-weight: 200;
    text-align: center;
    // font-weight: $font-weights("regular");
    
}

h2 {
    font-family: 'Russo One', sans-serif;
}


// @mixin mobile {
//     @media (max-width: $mobile) {
//         @content;
//     }
// }
   