@import './resets.scss';
@import './variables.scss';

@function weight($weight-name) {
    @return map-get($font-weights, $weight-name);
}

@mixin card {

        max-width: 50%;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
}

* {
    // box-sizing: border-box;
    background-color: brown;
}

html {
    height: 100%;
    width: 100%;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    padding: 0;
    // font: 100% $font-stack;
    color: $primary-color;
    // font-weight: map-get($font-weights, bold);
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

}

.main {
       
    height: 100vh;
    width: 100vw;
    // position: absolute;
    // top: 0px;
    // bottom: 0px;
    // right: 0px;
    // left: 0px;
    // min-height: 90%;
    // width: 80%;
    // margin: 0 auto;
    // font-weight: weight(regular);
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}

.hero {
    padding-top: 20px;
    width: 90%;
    min-height: 50vh;
    position: relative;
   
}

.hero-text {
    text-align: center;
    color: #fff;
}

.hero-text p {
    padding-top: 15px;
    padding-bottom: 15px;
}


.icons {
    $weight: bold;
}

// .card-column {
//     display: flex;
//     flex-direction: column;
//     align-items: space-between;
// }

.row {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    @include card;
}

.card h2 {
    text-align: center;
}

.card p {
    padding-top: 10px;
}

h2 {
    font-family: 'Russo One', sans-serif;
}

@mixin theme($theme: Brown) {
    background: $theme;
    box-shadow: 0 0 1px rgba($theme, .25);
    color: #fff;
}

@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}
   