//temporary - change font and colors
$font-stack: Helvetica, sans-serif;
$primary-color: #333;
$secondary-color: brown;
$white-color: #fff;
// add more colors here

$font-weights: (
    "regular": 400,
    "medium": 500,
    "bold": 900
);

$mobile: 800px;